
body {
   background: url('images/background.jpg');
   margin: 0;
   padding: 0;
}

#arena {
   text-align: center;
   padding: 5px;
   width: 805px;
   height: 445px;
}

#wrapper {
   margin: 0 auto;
   margin-top: 10px;
   padding: 5px;
   width: 817px;
   height: 520px;
}
         
#score {
   font: bold 40px Arial;
   text-align: center;
   color: #06f;
   text-shadow: 2px 2px 4px rgba(0,0,80,1.0);

   /*border: thin solid white;
   -webkit-box-shadow: rgba(0,0,0,0.5) 1px 1px 2px;
   -moz-box-shadow: rgba(0,0,0,0.5) 1px 1px 2px;
   -o-box-shadow: rgba(0,0,0,0.5) 1px 1px 2px;
   box-shadow: rgba(0,0,0,0.5) 1px 1px 2px;*/
}

#game-canvas {
   position: relative;
   border: 2px inset rgba(0,0,80,0.62);

   -webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
   transition: opacity 0.5s;

   -webkit-box-shadow: rgba(0,0,0,0.5) 8px 8px 16px;
   -moz-box-shadow: rgba(0,0,0,0.5) 8px 8px 16px;
   -o-box-shadow: rgba(0,0,0,0.5) 8px 8px 16px;
   box-shadow: rgba(0,0,0,0.5) 8px 8px 16px;
}

#fps {
   position: absolute;
   margin-top: -45px;
   margin-left: 12px;
   z-index: 1;
   color: #06f;
   text-shadow: 1px 1px 1px rgb(0,0,80);
   font: bold 20px Arial;
}

#highscore {
   position: absolute;
   margin-top: -45px;
   margin-left: 680px;
   z-index: 1;
   color: #06f;
   text-shadow: 1px 1px 1px rgb(0,0,80);
   font: bold 20px Arial;
}

#toast {
   position: absolute;
   margin-top: 120px;
   width: 820px;
   font: 60px Arial;
   text-align: center;
   color: blue;
   text-shadow: 2px 2px 4px rgb(0,0,0);

   -webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
   transition: opacity 0.5s;

   z-index: 1;
   opacity: 0;
   display: none;
}
#pauseMenu {
   position: absolute;
   background-image: url('images/pauseMenu.png');
   background-repeat: no-repeat;
   margin-left: 0.5%; 
   margin-top: 0.5%;
   -webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
   transition: opacity 0.5s;

   z-index: 100;
   opacity: 0;
   display: none;
   
}
#other-stuff {
   border: solid yellow 2px;
   background-color: rgb(100, 100, 100);
   margin-left: 25%;
   padding-left: 1%;
   width: 50%;
   color: black;
   color: white;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

}
#instructions {
   padding-left: 25%;
   padding-top: 10px;
   height: 2em;
   font-size: 0.95em;
}

.keys{
   
   margin-left: 50px;
   padding-left: 30px;
   padding-right: 5px;
   padding-bottom: 5px;

   display: inline;
}

.explanation{
   color: #ff0;
   margin-top: 5px;
   padding-right: 5px;
   padding-left: 5px;
   padding-bottom: 2px;

   display: inline;
}

#copyright{
   float: right;
   margin-right: 2px;
   margin-top: 0;
   padding: 2px;
   font-size: 0.85em;
}